@inject NavigationManager navigationManager
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >

                <Authorizing>
                    <p>Authorizing User</p>
                </Authorizing>
                <NotAuthorized>
                    <p> You are not Authorized to Aceess this Page</p>
                    @{
                        navigationManager.NavigateTo("login");
                    }
                </NotAuthorized>

            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>